#root {
  width: 100%;
  margin: 0 auto;
  padding: 10rpx 10rpx 10rpx 10rpx;
  text-align: center;
  /* background-color: black; */
}

body,
html {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.fps {
  position: absolute;
  top: 10px;
  right: 10px;
  // 其他样式可以根据需要调整
  // background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.canvas-container {
  flex: 1 0 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2%; // 添加
  position: relative;
}

.canvas-container canvas {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 保持等比缩放 */
  border-radius: 10px;
  max-height: 100%;
  // position: relative;
  background-color: #000;
}

.sidebar {
  flex: 0 0 20%;
  background-color: #f4f4f4;
  overflow-y: auto;
  // 内容跟随等比缩放
  object-fit: contain;
  display: block;
  border-radius: 10px;
  background-color: #000;
  overflow: hidden;
}
